.Entrytext {
    text-align: center;
    background-color: #54ea53;
    margin-top: 2%;
    align-content: center;
    margin-left: 50%;
    max-height: 1000vh;
    padding-bottom: 10%;
    padding-bottom: 10%;padding-top: 10%;
    /* display: flex; */
}

.Entrytext2 {
    color: whitesmoke;
    text-align: center;
    background-color: #5448fa;
    margin-top: 10%;
    align-content: center;
    margin-right: 50%;
    max-height: 1000vh;
    padding-bottom: 10%;padding-top: 10%;

    /* display: flex; */
}


.height{
    height: 500vh;
  }


.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    



        width: 500px;
        height: 400px;
 

}
