.height {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .Entrytext,
  .Entrytext2,
  .Entrytext3,
  .Entrytext4 {
    flex-basis: calc(20% - 20px);
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #54ea53;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);
  }
  
  .Entrytext2 {
    background-color: #5448fa;
  }
  
  .Entrytext3 {
    background-color: #eeff00;
  }
  
  .Entrytext4 {
    background-color: #0a0b0bc7;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .Entrytext,
    .Entrytext2,
    .Entrytext3,
    .Entrytext4 {
      flex-basis: 100%;
      margin: 10px 0;
    }
  }
  
.height{
    max-height: 100vh;
    padding-left: 200px;
    padding-right: 100px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    
font-size: 30px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
color: antiquewhite;
background-color: rgba(100, 148, 237, 0.769);

margin-inline-start: 100%;

border-radius: 10px;
box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.5);

}

