/* Home.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}



  /* Home.css or your stylesheet */
.home-container{

 text-align: center;
 max-width: 800px;
 margin: 0 auto;
 padding: 20px;
 box-sizing: border-box;
 border-radius: 5%;

}
/* Style for the entire table container */
.table-container {
  
  max-height: 400px; /* Adjust the maximum height as needed */
  overflow: auto;
}

/* Style for the table itself */
.order-table {
  width: 100%;
  border-collapse: collapse;
}

/* Style for table headers */
.order-table th {
  background-color: #aeaaaac9;
  text-align: left;
  padding: 8px;
  font-weight: bold;
  text-align: center;
  flex-wrap: wrap;
}

/* Style for table cells */
.order-table td {
  
  padding: 8px;
  border-bottom: 1px solid #000000;
}

/* Style for the delete buttons */
.order-table button {
  padding: 4px 8px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.order-table button:hover {
  background-color: #d32f2f;
}


.small-text{

  text-align: center;

}




