/* Home.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}



  /* Home.css or your stylesheet */

/* Style for the entire table container */
.table-container {
  max-height: 400px; /* Adjust the maximum height as needed */
  overflow: auto;
}

/* Style for the table itself */
.order-table {
  width: 100%;
  border-collapse: collapse;
}

/* Style for table headers */
.order-table th {
  background-color: #f0f0f0;
  text-align: left;
  padding: 8px;
  font-weight: bold;
}

/* Style for table cells */
.order-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Style for the delete buttons */
.order-table button {
  padding: 4px 8px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.order-table button:hover {
  background-color: #d32f2f;
}
