/* Navbar.css */
.topmanubar {
    list-style-type: none;
   
    background-color: #d4d4db00; /* Microsoft Blue */
    display: flex;
    justify-content: space-evenly; /* Add space around items */
    align-items: center; /* Center items vertically */
  }
  
  .topmanubar li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .topmanubar li a {
    text-decoration: none;
    color: #000000; /* White text color */
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s;
  }
  
  .topmanubar li a:hover {
    background-color: #005a9e; /* Darker blue on hover */
  }
  
  /* Optional: Add some spacing between navbar items */
  .topmanubar li + li {
    margin-left: 10px;
  }
  
  /* Optional: Style the active link */
  .topmanubar li a.active {
    background-color: #005a9e; /* Darker blue for active link */
  }
  
  /* Optional: Add some spacing to the right of the last navbar item */
  .topmanubar li:last-child {
    margin-right: 20px;
  }
  


  .sizemaindiv {
    background: rgb(224,217,206);
background: -moz-linear-gradient(180deg, rgba(224,217,206,1) 8%, rgba(105,170,108,1) 45%, rgba(137,54,135,1) 74%, rgba(36,35,147,0.9292364990689013) 84%);
background: -webkit-linear-gradient(180deg, rgba(224,217,206,1) 8%, rgba(105,170,108,1) 45%, rgba(137,54,135,1) 74%, rgba(36,35,147,0.9292364990689013) 84%);
background: linear-gradient(180deg, rgba(224,217,206,1) 8%, rgba(105,170,108,1) 45%, rgba(137,54,135,1) 74%, rgba(36,35,147,0.9292364990689013) 84%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0d9ce",endColorstr="#242393",GradientType=1);
    max-width: none; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the div horizontally */
    padding: 20px;/* Add padding for spacing */
    min-height: 100vh;
    box-sizing: border-box; /* Include padding in the width calculation */
    
  }
  

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft{
    
    background-color: #d2d3d3f1;
      padding-top: 10%;
      font-size: 33px;
      height: 300vh;
      transform: none;
      transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  

  }


  a.menu-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000; /* Default text color */
    text-decoration: none; /* Remove underline by default */
    transition: color 0.3s; /* Add a smooth color transition effect */
}

a.menu-link:hover {
    color: blue; /* Change text color to blue on hover */
}
